.top-container {
    background-color: beige;
}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    position: absolute;
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    left:200px;
    top:758px;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    margin-top: 0px;
}