body {
    background-color: #F3F1F1;
}

hr {
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
}

h3 {
    color: cornflowerblue;
}

h3:hover {
    color: gold;
}